body{
    background-color:  rgb(31, 18, 44);

    text-align: center;
}

.circle{
    margin: 0 auto;
    background-color:  rgb(31, 18, 44);
    margin-top: 100px;
    width: 23%;
    height: 300px;
    border: 5px solid orange;
    border-radius: 300px;
}

.btn 
{ 
    margin-top: 55px;

}

button{
    margin: 10px;
    width: 80px;
    height: 35px;
    background-color:  rgb(31, 18, 44);
    color: white;
    outline: none;
    border: none;
    border: 2px solid white;
    border-radius: 10px;
}

h1{
    margin-top: 150px;
    color: white;
}

.hding{
margin-top: 125px;
}

h2{
    color: white;
    font-size: 50px;
    display: inline;
    text-align: center;
}

button:hover{
    background-color: white;
    color: black;
}